<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<header class="am-topbar">
		<h1 class="am-topbar-brand">
			<a th:href="@{/}">风间笑</a>
		</h1>

		<button
			class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
			data-am-collapse="{target: '#doc-topbar-collapse'}">
			<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
		</button>

		<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li class="am-active"><a th:href="@{/}">首页</a></li>
				
				<li ><a th:href="@{/categoryUi}">标签归档</a></li>
				<li class="am-dropdown" data-am-dropdown=''><a
					class="am-dropdown-toggle" data-am-dropdown-toggle=''
					href="javascript:;"> 博客分类 <span class="am-icon-caret-down"></span>
				</a>
					<ul id="typeUl" class="am-dropdown-content">
					</ul>
				</li>
				<li ><a th:href="@{/categoryUi}">关于我</a></li>
				<li ><a th:href="@{/categoryUi}">留言板</a></li>
			</ul>

			<form class="am-topbar-form am-topbar-left am-form-inline"
				role="search">
				<div class="am-form-group">
					<input type="text" class="am-form-field am-input-sm"
						placeholder="搜索"></input>
				</div>
			</form>


			<div sec:authorize="! isAuthenticated()">
				<div class="am-topbar-right">
					<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm globalRegistBtn">
						<a class='globalRegistBtn'><span class="am-icon-pencil"></span>
							注册</a>
					</button>
					<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">
						<a th:href="@{/tologin}"><span class="am-icon-user"></span>
							登录</a>
					</button>
				</div>
				
				
			<div class="am-topbar-right">
				<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"
					style="background-color: #429842;">
					<a th:href="@{/towriteUi}" > <span
						class="am-icon-pencil"></span>写博客
					</a>
				</button>
			</div>
			</div>

			<div sec:authorize="isAuthenticated()">
				<ul
					class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">

					<li class="am-dropdown" data-am-dropdown><a
						class="am-dropdown-toggle" data-am-dropdown-toggle
						href="javascript:;" sec:authentication="name"> <span
							class="am-icon-users"></span><span class="am-icon-caret-down"></span>
					</a>
						<ul class="am-dropdown-content">
							<li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
							<li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
							<li><a th:href="@{/loginout}"><span
									class="am-icon-power-off"></span> 退出</a></li>
						</ul></li>
				</ul>
					<div class="am-topbar-right">
				<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"
					style="background-color: #429842;">
					<a th:href="@{/towriteUi}" > <span
						class="am-icon-pencil"></span>写博客
					</a>
				</button>
			</div>
			</div>
			
		</div>
	</header>


	<script>
		$(function() {
			$.ajax({
				type : "POST",
				url : "/blog/showType",
				cache : false, //不缓存此页面  
				dataType: "json",
				success : function(data) {
					$(data).each(function(){
						$("#typeUl").append($("<li>"+"<a href='/blog/showTypeArticle?categoryId="+this.categoryId+"'>"+this.categoryName+"</a>"+"</li>"));
					});
				}
			});

		});
	</script>
</body>
</html>