<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.blog.myblog.mapper.WriteBlogMapper">
 
 <insert id="addBlog" parameterType="com.xiao.blog.myblog.entity.Article">
  insert into article(articleId,author,originalAuthor,articleTitle,pubdate,lastUpdateDate,articleContent,articleTagId,
  articleType,articleCategories,articleUrl,summary,lastArticleId,nextArticleId,likes,pageView,showImg,content,categoryId) values(#{articleId},#{author},#{originalAuthor},
  #{articleTitle},#{pubdate},#{lastUpdateDate},#{articleContent},#{articleTagId},#{articleType},#{articleCategories},#{articleUrl},#{summary},#{lastArticleId},#{nextArticleId},#{likes},#{pageView},#{showImg},#{content},#{categoryId})
 </insert>
 
 <select id="showType"  resultType="com.xiao.blog.myblog.entity.Categories">
  select categoryId,categoryName,otherName,description from categories
 </select>
 
 <delete id="deleteArticle" parameterType="string">
  delete from article where articleId=#{articleId}
 </delete>
</mapper>